body{
    background-color: #ffffffbd;
    margin: 0px;
}
header{
    background-color: #026EBB;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 2px 4px #30362F;
    border-bottom: 4px solid #000000; 
}
nav{
    background-color: #30362F;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    border-bottom: 2px solid #000000;
    margin-bottom: 20px;
    text-align: center;
}
li{
    display: inline;
    margin: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #026EBB;
    transition: color 0.5s;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}
img:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    transition: cubic-bezier(.27,-0.01,.78,1.01)
}
.avatar-int{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
li div{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #000000;
    text-shadow: 1px 1px 2px #A9A9A9;
    margin-bottom: 30px;
    background-color: #A9A9A9;
}
section#lista{
    text-decoration: solid;
    font-style: italic;
    display: inline-block;
    line-height: 2.0;
    font-weight: bold;;
}
section#txt{
    text-align: justify;
    margin: 0 100px 20px 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #000000;
    line-height: 2.0;
    font-size: 30px;
    color: rgb(3, 0, 0);
    font-weight: bold;
    text-shadow: 2px 2px 4px #30362F;
}

.redes{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
a img{
    width: 30px;
    height: 30px;
}
footer{
    background-color: #026EBB;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #30362F;
    border-top: 4px solid #000000; 
    margin-top: 20px;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #000000;
    text-shadow: 1px 1px 2px #000000;
    background-color: #026EBB;
    padding: 10px;
    border-radius: 15px;
}
.aporte-proyecto{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #000000;
    text-shadow: 1px 1px 2px #292424;
    margin-bottom: 30px;
    background-color: #778094;
    padding: 10px;
    border-radius: 10px;
}
